<h1>네이버 책 검색 API</h1>

<form action="{% url 'books:api_booksearch' %}" method="GET">
  <input type="text" name="q" placeholder="검색" />
  <input type="submit" value="검색" />
</form>
<div>
  {% for item in items %}
  <ul>
    <div>
      {{ forloop.counter }}
      <!-- for문 반복한 횟수를 나타냄 -->
      <img src="{{ item.image }}" alt="" width="110" height="141" /> :
      {{ item.title }} : {{ item.isbn }} : {{ item.author }} :
      {{ item.publisher }} : {{ item.pubdate }} 가격 : {{ item.price }} 할인가격
      : {{ item.discount }}
    </div>
  </ul>
  {% endfor %}
</div>
